.blue-btn {
	background-color: #6d1eff;
	border-radius: 50%;
	border: none;
	padding: 10px;
	height: 50px;
	width: 50px;
	transition: 200ms;
	outline: none !important;
	position: fixed;
	bottom: 15px;
	right: 15px;
}
.blue-btn:hover {
	background-color: #5311ce;
}
.form {
	background-color: #333;
}

.lit-btn {
	outline: none !important;
	background-image: linear-gradient(135deg, #ad32ff, #7700ff);
	border: none;
	padding: 8px 20px;
	border-radius: 5px;
	color: white;
	box-shadow: 4px 4px 5px rgba(20, 20, 20, 0.2);
	transition: 200ms;
	letter-spacing: 0.08em;
}

.lit-btn:hover {
	filter: brightness(1.1);
	box-shadow: 4px 4px 5px rgba(20, 20, 20, 0.25);
}

.lit-btn-primary {
	background-image: linear-gradient(135deg, #621fff, #b55bff);
	text-transform: uppercase;
	border: #329cff 2px solid;
	color: #329cff;
	background: transparent;
	box-shadow: none;
}
.lit-btn-primary:hover {
	box-shadow: 3px 3px 5px rgba(56, 56, 56, 0.1);
}
