.header {
	height: 70px;
	display: flex;
	background-color: #f6f7fc;
	padding: 5px 10px;
	align-items: center;
	overflow-x: auto;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0px 1px 4px 0px rgba(140, 82, 253, 0.9);
}

.header__logo {
	height: 60px;
}

.header__searchbar {
	display: flex;
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
}

.header::-webkit-scrollbar {
	display: none;
}

.search_input {
	width: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin: 0;
	border: 1px solid lightgray;
	border-right-width: 0px;
	min-width: 100px;
	transition-duration: 0.2s;
}

.search_input:focus {
	outline: none;
	box-shadow: 0px 0px 0px 4px rgba(140, 82, 253, 0.5);
}

.submit_search {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
	color: white;
	background: #8c52fd;
	border: 1px solid #8c52fd;
	transition-duration: 0.2s;
	margin-right: 5px;
}

.submit_search:hover {
	background: #6830d6;
	border: 1px solid #6830d6;
}

.submit_search:focus {
	outline: none;
	background: #6830d6;
	border: 1px solid #6830d6;
	box-shadow: 0px 0px 0px 4px rgba(140, 82, 253, 0.5);
}
