.header {
  height: 70px;
  display: flex;
  background-color: #f6f7fc;
  padding: 5px 10px;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 1px 4px 0px rgba(140, 82, 253, 0.9);
  z-index: 10;
}

.header__logo {
  height: 60px;
}

.header__searchbar {
  display: flex;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  height: 35px;
}

.header::-webkit-scrollbar {
  display: none;
}

.text_input {
  min-width: 100px;
  padding-right: 10px;
  padding-left: 10px;
}

.submit_search {
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background: #8c52fd;
  border: 1px solid #8c52fd;
  transition-duration: 0.2s;
  margin-right: 5px;
}

.submit_search:hover {
  background: #6830d6;
  border: 1px solid #6830d6;
}

.submit_search:focus {
  outline: none;
  background: #6830d6;
  border: 1px solid #6830d6;
  box-shadow: 0px 0px 0px 4px rgba(140, 82, 253, 0.5);
}

.settings-btn {
  width: 35px;
  height: 35px;
  padding: 16px;
  color: black !important;
}

.settings-btn:active,
.settings-btn:hover,
.settings-btn:focus {
  outline: none;
}

#dropdown-settings.dropdown-toggle.btn.btn-primary::after {
  display: none;
}

#dropdown-settings.dropdown-toggle.btn.btn-primary {
  background: transparent;
  border: none;
  padding: 0px;
}
